SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/blogdb
SPRING_DATASOURCE_USERNAME=bloguser
SPRING_DATASOURCE_PASSWORD=blogpass
JWT_SECRET=change_this_secret
DOCKERHUB_REPO=yourdockerhubuser/blog-project:latest
DOCKERHUB_USERNAME=yourdockerhubuser
DOCKERHUB_PASSWORD=yourpassword
